<div class="container">
  <div class="nav">
    <ul>
      <li class="brand">
        <a href="/">
          <%= image_tag('flynn-logo.png', alt: 'flynn', width: '88px') %>
        </a>
      </li>

      <li class="spacer"></li>

      <li class="item ">
        <a href="/#">About</a>
      </li>

      <li class="item ">
        <a href="/#">Docs</a>
      </li>

      <li class="item ">
        <a href="/#">Blog</a>
      </li>

      <li class="item ">
        <a href="/#">Pricing</a>
      </li>
      <li class="item ">
        <a href="/#" style="background-color: #1BB45E; color: white ;border-radius:1.82em;padding: 0.68em 0.90em;">try</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <section class="content">
    <a href="/">
      <%= image_tag('title.png', alt: 'title', width: '900px') %>
    </a>

<div class="youtub">
  <section class="youtube">
    <a href="/">
      <%= image_tag('youtub.png', alt: 'title', width: '900px') %>
    </a>
  </section>
</div>
<div class="table">
    <a href="/">
      <%= image_tag('table.png', alt: 'table', width: '180%') %>
    </a>
</div>           
<div class="paragraphe">
  <section class="titre">
    <h1>
      Powerful and easy. The</br>way it should be.
    </h1>
</div>












































































